<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001ys-央视</key>
	<array>
		<dict>
			<key>name</key>
			<string>CCTV-1</string>
			<key>url</key>
			<string>http://125.88.39.97/live.aishang.ctlcdn.com/00000110240127_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>CCTV-1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-2</string>
			<key>url</key>
			<string>http://125.88.39.78/live.aishang.ctlcdn.com/00000110240244_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>CCTV-2</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>CCTV-3</string>
			<key>name</key>
			<string>CCTV-3</string>
			<key>url</key>
			<string>http://125.88.39.21/live.aishang.ctlcdn.com/00000110240245_1/encoder/2/playlist.m3u8?CONTENTID=</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>CCTV-4</string>
			<key>name</key>
			<string>CCTV-4</string>
			<key>url</key>
			<string>http://183.232.54.209:1935/live/hcctv_104/chunklist_w470566171.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-5</string>
			<key>url</key>
			<string>http://125.88.39.86/live.aishang.ctlcdn.com/00000110240246_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>CCTV-5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-6</string>
			<key>icon</key>
			<string>CCTV-6</string>
			<key>url</key>
			<string>http://125.88.39.95/live.aishang.ctlcdn.com/00000110240247_1/encoder/2/playlist.m3u8?CONTENTID=</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-7</string>
			<key>icon</key>
			<string>CCTV-7</string>
			<key>url</key>
			<string>http://125.88.39.79/live.aishang.ctlcdn.com/00000110240248_1/encoder/2/playlist.m3u8?CONTENTID=</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-8</string>
			<key>icon</key>
			<string>CCTV-8</string>
			<key>url</key>
			<string>http://125.88.39.75/live.aishang.ctlcdn.com/00000110240249_1/encoder/2/playlist.m3u8?CONTENTID=</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-9</string>
			<key>icon</key>
			<string>CCTV-9</string>
			<key>url</key>
			<string>http://125.88.39.71/live.aishang.ctlcdn.com/00000110240250_1/encoder/2/playlist.m3u8?CONTENTID=</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-10</string>
			<key>icon</key>
			<string>CCTV-10</string>
			<key>url</key>
			<string>http://125.88.39.72/live.aishang.ctlcdn.com/00000110240251_1/encoder/2/playlist.m3u8?CONTENTID=</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-11</string>
			<key>icon</key>
			<string>CCTV-11</string>
			<key>url</key>
			<string>http://ltewap2.tv189.com/tm-cctv11-800k.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-12</string>
			<key>icon</key>
			<string>CCTV-12</string>
			<key>url</key>
			<string>http://125.88.39.89/live.aishang.ctlcdn.com/00000110240252_1/encoder/2/playlist.m3u8?CONTENTID=</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-13</string>
			<key>icon</key>
			<string>CCTV-13</string>
			<key>url</key>
			<string>http://ktv030.cdnak.ds.kylintv.net/nlds/kylin/cctv13/as/live/cctv13_4.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-14</string>
			<key>url</key>
			<string>http://125.88.39.98/live.aishang.ctlcdn.com/00000110240253_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>CCTV-14</string>
		</dict>
		<dict>
			<key>name</key>
			<string>CCTV-15</string>
			<key>icon</key>
			<string>CCTV-15</string>
			<key>url</key>
			<string>http://58.200.131.2/hls/cctv15.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>风云剧场</string>
			<key>icon</key>
			<string>风云剧场</string>
			<key>url</key>
			<string>http://183.232.54.209:1935/live/hcctv_115/playlist.m3u8</string>
		</dict>
		<dict>
			<key>name</key>
			<string>怀旧剧场</string>
			<key>icon</key>
			<string>怀旧剧场</string>
			<key>url</key>
			<string>http://222.246.232.154/live01.cache.m.wasu.com/huaijiujc/z.m3u8</string>
		</dict>
	</array>
	<key>002ws-卫视</key>
	<array>
		<dict>
			<key>name</key>
			<string>北京卫视</string>
			<key>url1</key>
			<string>http://web-play.pptv.com/web-m3u8-300166.m3u8?type=mpptv&amp;playback=0&amp;kk=91d5bfcaef321a3fc3b424c0e5e44ec0-dde8-56985cda&amp;fwc=0&amp;complete=1&amp;o=m.pptv.com&amp;rcc_id=m.pptv.com</string>
			<key>url</key>
			<string>http://125.88.39.101/live.aishang.ctlcdn.com/00000110240129_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>北京卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>江苏卫视</string>
			<key>url1</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240133_1/encoder/0/playlist.m3u8</string>
			<key>url</key>
			<string>http://125.88.39.94/live.aishang.ctlcdn.com/00000110240133_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>江苏卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>东方卫视</string>
			<key>url1</key>
			<string>http://ktv011.cdnak.ds.kylintv.net/nlds/kylin/dragontvhd/as/live/dragontvhd_4.m3u8</string>
			<key>url</key>
			<string>http://125.88.39.92/live.aishang.ctlcdn.com/00000110240242_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>东方卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>安徽卫视</string>
			<key>url2</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240256_1/encoder/0/playlist.m3u8</string>
			<key>url</key>
			<string>http://125.88.39.20/live.aishang.ctlcdn.com/00000110240256_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>安徽卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>广东卫视</string>
			<key>url1</key>
			<string>http://ktv026.cdnak.ds.kylintv.net/nlds/kylin/gdtvhd/as/live/gdtvhd_4.m3u8</string>
			<key>url</key>
			<string>http://125.88.39.78/live.aishang.ctlcdn.com/00000110240137_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>广东卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>山东卫视</string>
			<key>url1</key>
			<string>http://ktv017.cdnak.ds.kylintv.net/nlds/kylin/sdtvhd/as/live/sdtvhd_4.m3u8</string>
			<key>url</key>
			<string>http://125.88.39.78/live.aishang.ctlcdn.com/00000110240254_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>山东卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>湖北卫视</string>
			<key>url2</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240135_1/encoder/0/playlist.m3u8</string>
			<key>url</key>
			<string>http://125.88.39.89/live.aishang.ctlcdn.com/00000110240135_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>湖北卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>河南卫视</string>
			<key>url</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240041_1/encoder/0/playlist.m3u8</string>
			<key>icon</key>
			<string>河南卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>湖南卫视</string>
			<key>url</key>
			<string>http://ktv012.cdnak.ds.kylintv.net/nlds/kylin/huntvhd/as/live/huntvhd_4.m3u8</string>
			<key>icon</key>
			<string>湖南卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>天津卫视</string>
			<key>url1</key>
			<string>http://ktv041.cdnak.ds.kylintv.net/nlds/kylin/tjtvhd/as/live/tjtvhd_4.m3u8</string>
			<key>url</key>
			<string>http://125.88.39.93/live.aishang.ctlcdn.com/00000110240136_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>天津卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>黑龙江卫视</string>
			<key>url1</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240131_1/encoder/0/playlist.m3u8</string>
			<key>url</key>
			<string>http://125.88.39.92/live.aishang.ctlcdn.com/00000110240131_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>黑龙江卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>四川卫视</string>
			<key>url</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240071_1/encoder/0/playlist.m3u8</string>
			<key>icon</key>
			<string>四川卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>河北卫视</string>
			<key>url</key>
			<string>http://live01.hebtv.com/channels/hebtv/video_channel_04/m3u8:2000k/live</string>
			<key>icon</key>
			<string>河北卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>辽宁卫视</string>
			<key>url1</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240255_1/encoder/0/playlist.m3u8</string>
			<key>url</key>
			<string>http://125.88.39.78/live.aishang.ctlcdn.com/00000110240255_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>辽宁卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>江西卫视</string>
			<key>url</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240049_1/encoder/0/playlist.m3u8</string>
			<key>icon</key>
			<string>江西卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>东南卫视</string>
			<key>url</key>
			<string>http://58.200.131.2/hls/dntv.m3u8</string>
			<key>icon</key>
			<string>东南卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>云南卫视</string>
			<key>url</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240082_1/encoder/0/playlist.m3u8</string>
			<key>icon</key>
			<string>云南卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>浙江卫视</string>
			<key>url1</key>
			<string>http://ktv017.cdnak.ds.kylintv.net/nlds/kylin/zhejtvhd/as/live/zhejtvhd_4.m3u8</string>
			<key>url</key>
			<string>http://125.88.39.79/live.aishang.ctlcdn.com/00000110240134_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>浙江卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>山西卫视</string>
			<key>url</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240065_1/encoder/0/playlist.m3u8</string>
			<key>icon</key>
			<string>山西卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陕西卫视</string>
			<key>url</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240066_1/encoder/0/playlist.m3u8</string>
			<key>icon</key>
			<string>陕西卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>甘肃卫视</string>
			<key>url</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240034_1/encoder/0/playlist.m3u8</string>
			<key>icon</key>
			<string>甘肃卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>广西卫视</string>
			<key>url</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240037_1/encoder/0/playlist.m3u8</string>
			<key>icon</key>
			<string>广西卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>宁夏卫视</string>
			<key>url</key>
			<string>http://180.100.7.2/live.aishang.ctlcdn.com/00000110240061_1/encoder/0/playlist.m3u8</string>
			<key>icon</key>
			<string>宁夏卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>深圳卫视</string>
			<key>url</key>
			<string>http://125.88.39.74/live.aishang.ctlcdn.com/00000110240132_1/encoder/2/playlist.m3u8?CONTENTID=</string>
			<key>icon</key>
			<string>深圳卫视</string>
		</dict>
	</array>
	<key>003gt-港台</key>
	<array>
		<dict>
			<key>name</key>
			<string>凤凰中文</string>
			<key>url</key>
			<string>http://ktv028.cdnak.ds.kylintv.net/nlds/kylin/pxasia/as/live/pxasia_4.m3u8</string>
			<key>icon</key>
			<string>凤凰中文</string>
		</dict>
		<dict>
			<key>name</key>
			<string>凤凰美洲</string>
			<key>url</key>
			<string>http://ktv029.cdnak.ds.kylintv.net/nlds/kylin/pxna/as/live/pxna_4.m3u8</string>
			<key>icon</key>
			<string>凤凰美洲</string>
		</dict>
		<dict>
			<key>name</key>
			<string>香港卫视</string>
			<key>url</key>
			<string>http://live.hkstv.hk.lxdns.com/live/hks/playlist.m3u8</string>
			<key>icon</key>
			<string>香港卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>本港台</string>
			<key>url</key>
			<string>http://ktv002.cdnak.ds.kylintv.net/nlds/kylin/asiatv/as/live/asiatv_4.m3u8</string>
			<key>icon</key>
			<string>本港台</string>
		</dict>
		<dict>
			<key>name</key>
			<string>华娱卫视</string>
			<key>url</key>
			<string>http://ktv044.cdnak.ds.kylintv.net/nlds/kylin/cetv/droid/live/cetv_4.m3u8</string>
			<key>icon</key>
			<string>华娱卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>美国中文电视</string>
			<key>url</key>
			<string>http://ktv008.cdnak.ds.kylintv.net/nlds/kylin/snvn/as/live/snvn_4.m3u8</string>
			<key>icon</key>
			<string>美国中文电视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>东森卫视</string>
			<key>url</key>
			<string>http://ktv032.cdnak.ds.kylintv.net/nlds/kylin/etgbl/as/live/etgbl_4.m3u8</string>
			<key>icon</key>
			<string>东森卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>东森新闻</string>
			<key>url</key>
			<string>http://ktv029.cdnak.ds.kylintv.net/nlds/kylin/etnews/as/live/etnews_4.m3u8</string>
			<key>icon</key>
			<string>东森新闻</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ICN国际卫视</string>
			<key>url</key>
			<string>http://ktv032.cdnak.ds.kylintv.net/nlds/kylin/iavc/as/live/iavc_4.m3u8</string>
			<key>icon</key>
			<string>ICN国际卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ICN国际卫视</string>
			<key>url</key>
			<string>http://ktv032.cdnak.ds.kylintv.net/nlds/kylin/iavc/as/live/iavc_4.m3u8</string>
			<key>icon</key>
			<string>ICN国际卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>华语电视1</string>
			<key>url</key>
			<string>http://ktv015.cdnak.ds.kylintv.net/nlds/kylin/hyds/as/live/hyds_4.m3u8</string>
			<key>icon</key>
			<string>华语电视1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>华语电视2</string>
			<key>url</key>
			<string>http://ktv008.cdnak.ds.kylintv.net/nlds/kylin/hyds2/as/live/hyds2_4.m3u8</string>
			<key>icon</key>
			<string>华语电视2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ICN国际卫视</string>
			<key>url</key>
			<string>http://ktv032.cdnak.ds.kylintv.net/nlds/kylin/iavc/as/live/iavc_4.m3u8</string>
			<key>icon</key>
			<string>ICN国际卫视</string>
		</dict>
		<dict>
			<key>name</key>
			<string>华夏电视台</string>
			<key>url</key>
			<string>http://ktv026.cdnak.ds.kylintv.net/nlds/kylin/cathaytv/as/live/cathaytv_4.m3u8</string>
			<key>icon</key>
			<string>华夏电视台</string>
		</dict>
	</array>
	<key>004letv-电影</key>
	<array>
		<dict>
			<key>name</key>
			<string>动作电影</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?tag=live&amp;stream_id=lb_dzdy_720p&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=C1S&amp;expect=1</string>
			<key>icon</key>
			<string>动作电影</string>
		</dict>
		<dict>
			<key>name</key>
			<string>香港电影</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?tag=live&amp;stream_id=lb_hkmovie_720p&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=C1S&amp;expect=1</string>
			<key>icon</key>
			<string>香港电影</string>
		</dict>
		<dict>
			<key>name</key>
			<string>高清电影</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?tag=live&amp;stream_id=lb_movie_720p&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=C1S&amp;expect=1</string>
			<key>icon</key>
			<string>高清电影</string>
		</dict>
		<dict>
			<key>name</key>
			<string>好莱坞</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_hlw_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>好莱坞</string>
		</dict>
		<dict>
			<key>name</key>
			<string>科幻美剧</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_hlw_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>科幻美剧</string>
		</dict>
		<dict>
			<key>name</key>
			<string>电视剧</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?tag=live&amp;stream_id=lb_tv_720p&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=C1S&amp;expect=1</string>
			<key>icon</key>
			<string>电视剧</string>
		</dict>
		<dict>
			<key>name</key>
			<string>纪录片</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?tag=live&amp;stream_id=lb_jilu_720p&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=C1S&amp;expect=1</string>
			<key>icon</key>
			<string>纪录片</string>
		</dict>
		<dict>
			<key>name</key>
			<string>演唱会</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?tag=live&amp;stream_id=lb_concert_720p&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=C1S&amp;expect=1</string>
			<key>icon</key>
			<string>演唱会</string>
		</dict>
		<dict>
			<key>name</key>
			<string>猪猪侠</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?tag=live&amp;stream_id=lb_zzx_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=C1S&amp;expect=1</string>
			<key>icon</key>
			<string>猪猪侠</string>
		</dict>
		<dict>
			<key>name</key>
			<string>猫和老鼠</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?tag=live&amp;stream_id=lb_mhls_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=C1S&amp;expect=1</string>
			<key>icon</key>
			<string>猫和老鼠</string>
		</dict>
		<dict>
			<key>name</key>
			<string>1080P播不停</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_1080P_1080p3m&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>1080P播不停</string>
		</dict>
	</array>
	<key>004letv-综艺</key>
	<array>
		<dict>
			<key>name</key>
			<string>笑傲江湖</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?tag=live&amp;stream_id=lb_xajh_720p&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=C1S&amp;expect=1</string>
			<key>icon</key>
			<string>笑傲江湖</string>
		</dict>
		<dict>
			<key>name</key>
			<string>我是歌手</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?tag=live&amp;stream_id=lb_imsinger_720p&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=C1S&amp;expect=1</string>
			<key>icon</key>
			<string>我是歌手</string>
		</dict>
		<dict>
			<key>name</key>
			<string>蒙面歌王</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_mmgw_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>蒙面歌王</string>
		</dict>
		<dict>
			<key>name</key>
			<string>出彩中国人</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_cczgr_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>出彩中国人</string>
		</dict>
	</array>
	<key>005letv-名人</key>
	<array>
		<dict>
			<key>name</key>
			<string>张艺谋</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_zym_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>张艺谋</string>
		</dict>
		<dict>
			<key>name</key>
			<string>徐克</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_xuke_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>徐克</string>
		</dict>
		<dict>
			<key>name</key>
			<string>成龙</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?tag=live&amp;stream_id=lb_cl_720p&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=C1S&amp;expect=1</string>
			<key>icon</key>
			<string>成龙</string>
		</dict>
		<dict>
			<key>name</key>
			<string>周星驰</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?tag=live&amp;stream_id=lb_zxc_720p&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=C1S&amp;expect=1</string>
			<key>icon</key>
			<string>周星驰</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郭德纲</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_gdg_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>郭德纲</string>
		</dict>
		<dict>
			<key>name</key>
			<string>章子怡</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_zhangziyi_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>章子怡</string>
		</dict>
	</array>
	<key>006letv-经典</key>
	<array>
		<dict>
			<key>name</key>
			<string>包青天</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_bqt_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>包青天</string>
		</dict>
		<dict>
			<key>name</key>
			<string>亮剑</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_liangjian_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>亮剑</string>
		</dict>
		<dict>
			<key>name</key>
			<string>士兵突击</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_sbtj_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>士兵突击</string>
		</dict>
		<dict>
			<key>name</key>
			<string>还珠格格</string>
			<key>url</key>
			<string>http://live.gslb.letv.com/gslb?stream_id=lb_hzgg_1300&amp;tag=live&amp;ext=m3u8&amp;sign=live_tv&amp;platid=10&amp;splatid=1009&amp;format=letv&amp;expect=1</string>
			<key>icon</key>
			<string>还珠格格</string>
		</dict>
	</array>
</dict>
</plist>
